body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #04285E, #37537E, #AAAAAA, #FE5C81, #F4F5F4; */
    color: rgb(4, 40, 94);
    font-family: 'Charm', cursive;
    /* font-family: 'Karla', sans-serif; */
    font-size: 25px;
    height: 100vh;
}

a {
    text-decoration: none;
    color: unset;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #fe5c81;
    border-radius: 10px;
    box-shadow: inset -1px 1px 13px rgba(4, 40, 94, 0.3);
}

 ::-webkit-scrollbar-thumb:hover {
    background: #FE5C81;
    border-radius: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f4f5f4;
    border-radius: 10px;
    box-shadow: inset -6px 0px 11px rgba(4, 40, 94, 0.3);
}

.large__foto {
    display: none;
}

.large__foto--display {
    display: block;
    position: fixed;
    z-index: 3;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(4, 40, 94);
    background-color: rgba(4, 40, 94, 0.6);
}

.close {
    position: absolute;
    cursor: pointer;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 6px;
    background-color: #FE5C81;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.large__foto--element {
    margin: auto;
    display: block;
    height: 75vh;
    border-radius: 7rem 0;
    border: 3px solid #FE5C81;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.sticky__nav {
    height: 140px;
    display: flex;
    align-items: center;
    position: sticky;
    top: -30px;
    background-color: #fff;
    z-index: 2;
}

.top__nav {
    display: flex;
    width: 100%;
    height: 110px;
    padding: 2rem 3rem 0 3rem;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.logo__image {
    width: 10rem;
    flex-grow: 1;
}

.top__nav--list {
    display: flex;
    list-style: none;
    flex-grow: 4;
    justify-content: space-around;
    margin: 0 5rem;
}

.top__nav--elements {
    font-size: 1.5rem;
    font-weight: bold;
}

.top__nav--elements:hover {
    color: rgb(254, 92, 129);
    text-decoration: underline;
    transition: linear 0.5s;
}

.address {
    width: 2rem;
    flex-grow: 1;
    margin-right: 1rem;
}

.address__icon {
    width: 1.5rem;
    margin-bottom: 0px;
}

.address__data {
    list-style: none;
    margin: 0;
    padding: 0;
}

.address__data--list {
    font-size: 1rem;
}

.phone {
    width: 1rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.phone__icon {
    width: 1.5rem;
    flex-grow: 1;
    margin-top: -1.3rem;
    margin-bottom: 0.6rem;
}

.phone__number {
    font-size: 1rem;
}

.main__content {
    height: 100%;
    background-color: #F4F5F4;
    margin: 1.5rem 0 0 0;
    padding: 0 0 0 3rem;
    display: flex;
    justify-content: flex-start;
}

.greeting {
    padding-top: 8rem;
    width: 55%;
    display: flex;
    flex-flow: column;
}

main {
    margin: 1.5rem 0 0 0;
    padding: 0 1rem 0 3rem;
}

.welcome__message {
    font-family: 'Charm', cursive;
    padding: 0;
    margin: 0;
}

.welcome__button {
    border: 3px solid #FE5C81;
    background-color: #FE5C81;
    color: #F4F5F4;
    width: fit-content;
    padding: 0 2rem;
    cursor: pointer;
}

.welcome__button:hover {
    background-color: unset;
    border: #37537E 3px solid;
    color: #37537E;
    transition: linear 0.5s;
}

.example {
    background: #37537E;
    color: white;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    padding: 0 0;
    display: flex;
    justify-content: flex-end;
}

.pictures {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 8rem;
}

.presentation {
    height: 38%;
    border-radius: 7rem 0;
    border: 3px solid #FE5C81;
}

.slider {
    display: flex;
    background-color: rgba(4, 40, 94, 0.3);
    width: 100%;
    position: relative;
    justify-content: space-evenly;
}

.slider::before {
    margin-left: -1.4rem;
}

.slider::after {
    margin-right: -1.4rem;
}

.slide__image {
    height: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.left__panel {
    position: absolute;
    z-index: 2;
    width: 2.7rem;
    height: 100%;
    background-color: rgba(4, 40, 94, 0.6);
    top: 50%;
    left: 0;
    transform: translate3d(0%, -50%, 0);
}

.right__panel {
    position: absolute;
    z-index: 2;
    width: 2.7rem;
    height: 100%;
    background-color: rgba(4, 40, 94, 0.6);
    top: 50%;
    left: 98%;
    transform: translate3d(-10%, -50%, 0);
}

.left__arrow {
    position: absolute;
    z-index: 3;
    width: 2rem;
    height: 2rem;
    border: 5px solid rgb(4, 40, 94);
    background-color: #fff;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translate3d(0%, -50%, 0);
}

.left__arrow::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 5px solid rgb(4, 40, 94);
    border-right: 5px solid rgb(4, 40, 94);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.left__arrow:hover {
    border-color: #FE5C81;
    cursor: pointer;
}

.left__arrow:hover::before {
    border-top-color: #FE5C81;
    border-right-color: #FE5C81;
}

.right__arrow {
    z-index: 3;
    width: 2rem;
    height: 2rem;
    border: 5px solid rgb(4, 40, 94);
    background-color: #fff;
    border-radius: 100%;
    align-self: center;
    position: absolute;
    left: 100%;
    transform: translate3d(-100%, 0%, 0);
}

.right__arrow::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 35%;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 5px solid rgb(4, 40, 94);
    border-right: 5px solid rgb(4, 40, 94);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.right__arrow:hover {
    border-color: #FE5C81;
    cursor: pointer;
}

.right__arrow:hover::before {
    border-top-color: #FE5C81;
    border-right-color: #FE5C81;
}